# Next Auth Config #
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_BASE_PATH=http://localhost:3000/
NEXTAUTH_URL=http://localhost:3000/
NEXT_PUBLIC_LANDING_URL=http://localhost:3009
NEXTAUTH_SECRET=N3G2xT44ovZWp24HUQE54JRJq63ZOhhOHe1uQnsQxs4=


GOOGLE_CLIENT_ID=your_gogle_oauth2_client_id
GOOGLE_CLIENT_SECRET=your_gogle_oauth2_secret_key

# Google reCAPTCHA v2
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_public_recaptcha_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

# Base URL
BASE_URL = /